Debug/
Release/
*.o
*.d
*.elf
*.hex
*.bin
*.map

# Keil MDK artifacts
*.obj
*.lst
*.lnp
*.sct
*.dep
*.htm
*.map
*.axf
*.hex
*.bin
*.uvguix.*
*.uvgui.*
*.scvd
DebugConfig/
STM32H743VGT6/
STM32H750/

# VS Code settings
.vscode/